.notifications .alert {
    border-radius: 4px;
    position: relative;
}

.book-cover {
    width: 25px;
}

.zoom:hover {
    -ms-transform: scale(10);
    -moz-transform: scale(10);
    -webkit-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10);
    position: relative;
    z-index: 100;
    top: 0px;
    left: 0px;
    transform-origin: center left;
}
.zoom-3:hover {
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
}

.form-control + .input-group-addon {
    border-left: 0;
}
.input-group-addon label {
    font-weight: 400;
    display: inline;
}

.overflow-visible {
    overflow: visible;
}

.detail-info {
    display: flex;
}
.detail-info .image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 12em;
 }
.detail-info .description {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.twitter-typeahead {
    display: block !important;
}